.jumbotron {
  background: url("../images/titulo.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white; }

.img-fluid {
  width: 100%;
  height: 300px; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #ffffff;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
